{
    "printWidth": 120,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 100,
                "singleQuote": true,
                "tabWidth": 4,
                "useTabs": true,
                "insertPragma": true,
                "bracketSpacing": true
            }
        }
    ]
}
